<br />
<span class="radioClass"> Showw : </span>
<input type="radio" name="option" value="Male" [(ngModel)]="selectedRadioButtonValue" (change) ="onRadioButtonSelection()"/>
<span class="radioClass"> {{"Male("+male+")"}}</span>
<input type="radio" name="option" value="Female" [(ngModel)]="selectedRadioButtonValue" (change) ="onRadioButtonSelection()" />
<span class="radioClass"> {{"Female("+female+")"}}</span>
<input type="radio" name="option" value="All" [(ngModel)]="selectedRadioButtonValue" (change) ="onRadioButtonSelection()"/>
<span class="radioClass"> {{"All("+all+")"}}</span>