<my-employeeCount [all]="getTotalEmployeeCount()"
                  [male]="getTotalMaleEmployeeCount()"
                  [female]="getTotalFemaleEmployeeCount()"
                  [simpleText]="usertext"
                  (countRadioButtonSelectionChangedEvent)="onEmployeeCountRadioButtonChangedEventListener($event)">

</my-employeeCount>
<table>
    <thead>
        <tr>
            <th>Code </th>
            <th>Name </th>
            <th>Gender </th>
            <th>Anual Salary </th>
            <th>Date of Birth </th>
            <th>Index </th>
            <th>Is First </th>
            <th>Is Last </th>
            <th>Is Even </th>
            <th>Is Odd </th>
        </tr>

    </thead>
    <tbody>
        <ng-container *ngFor="let employee of empolyees ;trackBy:trackByEmpCode;let i = index;let isF=first;let isL= last;let isEven=even;let isOdd =odd">
            <tr *ngIf="selectedEmployeeRadioButtonValue=='All' ||selectedEmployeeRadioButtonValue==employee.gender">
                <td>{{employee.code | uppercase}}</td>
                <td>{{employee.name |employeeTitle:employee.gender}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.annual_sal | currency:'USD':true:'1.3'}}</td>
                <td>{{employee.dob }}</td>
                <td>{{i}}</td>
                <td>{{isF}}</td>
                <td>{{isL}}</td>
                <td>{{isEven}}</td>
                <td>{{isOdd}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<br />
<table>
    <thead>
        <tr>
            <th>Code </th>
            <th>Name </th>
            <th>Gender </th>
            <th>Anual Salary </th>
            <th>Date of Birth </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of empolyees2;trackBy:trackByEmpCode">
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annual_sal}}</td>
            <td>{{employee.dob}}</td>
        </tr>
        <tr *ngIf="!empolyees2 ||empolyees2.length==0">
            <td colspan="5">No employess</td>
        </tr>
    </tbody>
</table>

<br /><br />
    Table With Interface Ex
<table>

    <thead>
        <tr>
            <th>Code </th>
            <th>Name </th>
            <th>Gender </th>
            <th>Anual Salary </th>
            <th>Date of Birth </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of empolyees3;trackBy:trackByEmpCode">
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annualSalary}}</td>
            <td>{{employee.dob}}</td>
        </tr>
    </tbody>
    <input type="text" [(ngModel)]="usertext" />
</table>

<br /><br />
    Table With Service Binding
<table>

    <thead>
        <tr>
            <th>Code </th>
            <th>Name </th>
            <th>Gender </th>
            <th>Anual Salary </th>
            <th>Date of Birth </th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let employee of empolyees4;trackBy:trackByEmpCode">
            <td>{{employee.code}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.annualSalary}}</td>
            <td>{{employee.dob}}</td>
        </tr>
    </tbody>
    <input type="text" [(ngModel)]="usertext" />
</table>

<br /><br />
    Table With Service Binding in OnInit
      <table>

          <thead>
              <tr>
                  <th>Code </th>
                  <th>Name </th>
                  <th>Gender </th>
                  <th>Anual Salary </th>
                  <th>Date of Birth </th>
              </tr>

          </thead>
          <tbody>
              total employee by method2--{{ getTotalEmployeeCountComingFromService()}}
              total employee by object--{{ empolyeesOnInITinitaialization.length}}
              <tr *ngIf="!empolyeesOnInITinitaialization">
                  <td colspan="5">{{statusMessage}}</td>
              </tr>
              <tr *ngFor="let employee of empolyeesOnInITinitaialization;trackBy:trackByEmpCode">
                  <td> <a [routerLink]="['/Employee2',employee.code]">{{employee.code}}</a></td>
                  <td>{{employee.name}}</td>
                  <td>{{employee.gender}}</td>
                  <td>{{employee.annualSalary}}</td>
                  <td>{{employee.dob}}</td>
              </tr>
              <tr *ngIf="!empolyeesOnInITinitaialization ||empolyeesOnInITinitaialization.length==0">
                  <td colspan="5">No employess</td>
              </tr>
          </tbody>
          <input type="text" [(ngModel)]="usertext" />
          <div style="margin-top:10px" *ngIf="!subscription.closed">
              <input type="button" value="Cancel Request" (click)="cancelRequest()" />
          </div>
      </table>