

<h1>
    {{header}}
 
        <h1 routerLinkActive="active">
           
                <div class="btn-toolbar">
                    <a routerLink="Home" class="btn btn-danger">Home</a>
                    <a routerLink="EmployeeList" class="btn btn-dark">Employee from db</a>
                    <a routerLink="EmployeeList" class="btn btn-info">Employee from db</a>
                    <a routerLink="Employee" class="btn btn-warning">HTML CSS</a>
                    <a routerLink="JavaScript" class="btn btn-danger">JavaScript</a>
                    <a routerLink="Payment" class="btn btn-warning">Payment</a>
                    <a routerLink="ExampleBootStrap" class="btn btn-dark">BootStrapPractice</a>
                </div>
  
            
        </h1>
        <!--<my-employeelist></my-employeelist>-->
        <router-outlet></router-outlet>
    
    <!--<my-employee></my-employee>-->
</h1>

